<div class="emission-verification-card">
    <div class="title">
        Verify your Emission Certificate
    </div>
    <form class="verification-form" [formGroup]="verificationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="certificate-number">Enter Certificate Number</label>
            <input type="text" id="certificate-number" name="certificate-number" formControlName="certificateNumber">
        </div>
        <div class="form-group">
            <label for="carbon-emission">Enter Total Carbon Emission in Kg (from Certificate)</label>
            <input type="text" id="carbon-emission" name="carbon-emission" formControlName="carbonEmission">
        </div>

        <div *ngIf="verificationMessage !== null" [ngClass]="{'verification-message': true, 'verified': verificationMessage === 'Verified', 'not-verified': verificationMessage === 'Not Verified'}">
            <h3>{{ verificationMessage }}</h3>
            <p *ngIf="verificationMessage === 'Verified'">Company Name: {{ companyName }}</p>
        </div>  

        <div class="verify-button">
            <button type="submit">{{buttonText}}</button>
        </div>      
    </form>
</div>


